body{
    font-family: "M PLUS Rounded 1c";
}

.main{
    max-width: 1000px;
    margin: auto;
}

.section{
    overflow: hidden;
    padding-top: 20px;
}
.section_title{
    font-size: 28px;
}

.section_img{
    float: left;
    margin-right: 10px;
    width: 20%;
}
img{
    margin: 10px 10px 10px 10px;
    width: 90%;
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.8);
}


