html{
    margin: 0px;
}

body{
    font-family: 'Kosugi Maru', sans-serif;
    background-color: #9ADDDD;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #EFEFFF), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #EFEFFF),color-stop(.75, #EFEFFF), color-stop(.75, transparent),to(transparent));
    -webkit-background-size: 14px 14px;
    margin: 0px;
    color: #333;
}

header{
    background: #fff;
    display: flex;
    padding: 10px 20px;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    margin-left: 0;
    max-height: 90px;
}

header > h1{
    color: #9ADDDD;
}

.menu{
    display: flex;
    padding-right: inherit;
    list-style: none;
}

@media screen and (max-width:515px) { 
    .menu{
        display: none;
    }
}

.menu_item{
    /*font-size: 28px;*/
    max-width: 20vw;
    margin-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
}

.menu_item:hover{
    text-decoration: underline;
}

.menu_item a{
    color: #333;
    text-decoration: none;
}

.main{
    padding-top: 100px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

a.anchor{
    display: block;
    padding-top: 100px;
    margin-top: -100px;
}

.content{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5em;
    font-size: 32;
    margin-top: 0px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    background-color: #EFEFFF;
    border: 3px solid #1FC5C5;
    margin-bottom: 20px;
}

.kagaImg{
    background-image: url(sample.png);
    background-repeat:no-repeat;
    background-position:right bottom;
}

.content > h1{
    font-size: 50px;
    color: #1FC5C5;
    margin-top: 10px;
    margin-bottom: 10px;
}

.voice{
    color: #1FC5C5;
    padding-top: 30px;
    padding-bottom: 120px;
}

.normal_voice{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    color: #EFEFFF;
    border: 3px solid #1fc5c5;
    background-color: #9adddd;
    font-size: 16px;
    float: left;
    margin-top: 20px;
    margin-right: 10px;
}

.normal_voice:hover{
    background-color: #1fc5c5;
}

.secret_voice{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    color: #EFEFFF;
    border: 3px solid #F48585;
    background-color: #F4BBBB;
    font-size: 16px;
    float: left;
    margin-top: 20px;
    margin-right: 10px;
}

.secret_voice:hover{
    background-color: #F48585;
}

.voice_text{
    text-align: center;
    padding-top: 10px;
}

.year{
    font-size: 20px;
    padding-top: 30px;
}

.contest{
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.contest::before{
    font-size: 20px;
    content: "・";
}

.result{
    font-size: 20px;
    color: #F48585;
}

.result::before{
    font-size: 20px;
    padding-left: 20px;
    content: ">> ";
}