.body {
    background-color: #CDE6E8;
    font-family: sans-serif;
}

.content {
    width: 95%;
    max-width: 960px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 8px gray;
    padding-bottom: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #CDE6E8;
}

.content > h1 {
    padding-left: 10px;
    background-color: #3F5FFF;
    color: #CDE6E8;
    font-size: 32px;
    margin:0;    
}

.content > h2 {
    padding-top: 10px;
    padding-left: 10px;
    color: #505050;
    font-size: 28px;
    font-weight: bold;
    margin:0;
}

.content > h3::before {
    content: '・';
}
.content > h3 {
    padding-left: 10px;
    color: #505050;
    font-size: 26px;
    font-weight: 100;
    margin:0;
}

.content > h4::before {
    padding-left: 20px;
    color: #505050;
    content: '>>';
}
.content > h4 {
    padding-left: 10px;
    color: #FF0E4F;
    font-size: 24px;
    margin:0;
}

.link{
    padding-top: 10px;
    padding-left: 10px;
    color: #3F5FFF;
    font-weight: bold;
    margin:0;
}

.qr {
    width: 100%;
    max-width: 400px;
    display: block;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
}